html {
  border-radius: 5px;
}

body {
  background: #f1f5f9;
}
:root {
  --main-width: 250px;
}

.wrapper {
     height: 500px;
  width: var(--main-width);
  text-align: center;
  overflow-y: scroll;
 
}
::-webkit-scrollbar{
  display: none;
}
.changeColorBtn {
  font-weight: bold;
  font-family:monospace;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 5px;
  background-color: #facc15;
  cursor: pointer;
}

.colorGrid {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.selectedColor {
 
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}
.color_div {
     width: 100%;
     display: flex;
  flex-direction: row;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}
.color_info {
  align-items: center;
  display: flex;
}
.icons i {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0 5px;
}
.icons .fa-clone , .fa-check-circle {
  color: #1bdddd;
}
.icons .fa-trash {
  color: red;
}

.colorValue {
  font-size: 1rem;
  margin-left: 5px;
  font-weight: bold;
}

